# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-to-trash/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Keys — never commit
Claro/Config.swift

# macOS
.DS_Store
.AppleDouble
.LSOverride
